html {
   font-size: 14px;
 }
 
 body {
   font-family: 'Noto Sans JP', sans-serif;  
 }
 
 h1 {
   font-size: 1.5rem;
 }
 
 h2 {
   font-size: 1.475rem;
 }
 
 h3 {
   font-size: 1.25rem;
 }
 
 a {
   color: #5196a6;
   text-decoration: none !important;
 }
 
 a:hover {
     color: #407784;
 }
 
 .swiper-container {
  width: 100%;
  height: 100%;
}


.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide img {
  width: 100%;
  height: 480px;
  object-fit: cover;
}

.overlay-background {
  position: absolute;
  top: 64px;
  width: 100%;
  height: 480px;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 10;
}

.overlay-text {
   padding: 0 70px;    
}

.catchphrase-heading {
  font-size: 36px;
  line-height: 1.5;
  font-family: 'Noto Serif JP', serif;
  font-weight: 600;
  text-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 60%);
}

.catchphrase-paragraph {
  font-size: 16px;
  line-height: 2;
  font-family: 'Noto Serif JP', serif;
  font-weight: 400;
  text-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 60%);
}

 
.card-link {
  transition: 0.3s;
}

.card-link:hover {
  opacity: 0.7;
}

.category-name {
  text-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 60%);
}

.sort-box {
  width: 150px;
}

.footer-link {
   margin-bottom: auto;
   height:70px;
}

 footer {
   width: 100%;
   height: 0,60px;
   position: absolute;
   bottom: 0;    
   background-color: #f2f0eb;
 }
 
 .nagoyameshi-wrapper {
   min-height: 100vh;
   position: relative;
   padding-bottom: 60px;
   box-sizing: border-box;
 }
 
 .nagoyameshi-navbar {
   min-height: 60px;
 }
 
 .nagoyameshi-logo {
   height: 40px;  
 }
 
 .nagoyameshi-btn {
   background-color: #5196a6 !important;   
   transition: 0.1s;
 }
 
 .nagoyameshi-btn:hover {
   opacity: 0.8;   
 }
 
 .nagoyameshi-page-link {
   color: #5196a6;
 }
 
 .nagoyameshi-page-link:hover {
   color: #407784;
 }
 
 .nagoyameshi-active {
   background-color: #5196a6 !important;
   border-color: #5196a6 !important;
 }
 
.nagoyameshi-pre-wrap {
   white-space: pre-wrap;
 }
 
 .nagoyameshi-link-danger {
     color: #f2594b;
 }
 
 .nagoyameshi-link-danger:hover {
     color: #a63c3c;
 }
 
 .nagoyameshi-btn-danger {
     background-color: #f2594b !important;
     transition: 0.1s;
 }
 
 .nagoyameshi-btn-danger:hover {
   opacity: 0.8;   
 }
 
 .nagoyameshi-dropdown-item:active {
   background-color: #5196a6;
 }
 
 .nagoyameshi-card-link {
   transition: 0.3s;
 }
 
 .nagoyameshi-card-link:hover {
   opacity: 0.7;
 }
 
 .nagoyameshi-horizontal-card-image {
   width: 100%;
   height: 240px;
   object-fit: cover;
   }
   
  .nagoyameshi-sort-box {
   width: 150px;
 }
 
 .nagoyameshi-vertical-card-image {
   width: 100%;
   height: 150px;
   object-fit: cover;
 }
 
 .nagoyameshi-search-form {
     max-width: 300px;
 }
 
 @media screen and (min-width: 1400px) {
   .nagoyameshi-container {
     max-width: 1200px;
   }
   
 
 }