<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<title>NAGOYAMESHI</title>
</head>

<divbody>
	<div class="nagoyameshi-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="/images/main1.png" alt="Image 1">
						<div class="swiper-slide">
							<im src="/images/main2.png" alt="Image 2">
								<div class="swiper-slide">
									<img src="/images/main3.png" alt="Image 3">
								</div>
						</div>
						<!-- ページネーション（ドット表示） -->
						<div class="swiper-pagination"></div>
						<!-- ナビゲーションボタン（左右）-->
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
					</div>

					<!-- オーバーレイテキスト -->
					<div class="d-flex align-items-center overlay-background">
						<div class="container nagoyameshi-container overlay-text">
							<h1 class="text-white catchphrase-heading">名古屋ならではの味を、<br>見つけよう</h1>
							<p class="text-white catchphrase-paragraph">NAGOYAMESHIは、<br>名古屋市のB級グルメ専門のレビューサイトです。</p>
						</div>
					</div>



					<div class="container pt-4 pb-5 nagoyameshi-container">
						<div th:if="${param.loggedIn}" class="alert alert-info">
							ログインしました。
						</div>

						<div th:if="${param.loggedOut}" class="alert alert-info">
							ログアウトしました。
						</div>

						<div th:if="${successMessage}" class="alert alert-info">
							<span th:text="${successMessage}"></span>
						</div>

						<div class="d-flex justify-content-center">
							<form method="get" th:action="@{/restaurants}" class="mb-5 nagoyameshi-search-form">
								<div class="input-group">
									<input type="text" class="form-control" name="keyword" th:value="${keyword}"
										placeholder="店舗名・カテゴリ">
									<button type="submit" class="btn text-white shadow-sm nagoyameshi-btn">検索</button>
								</div>
							</form>
						</div>

						<h2 class="text-center mb-3">新着</h2>
						<div class="row row-cols-lg-5 row-cols-2 g-3 mb-5">
							<div class="col" th:each="newRestaurant : ${newRestaurants}">
								<a th:href="@{/restaurants/__${newRestaurant.getId()}__}"
									class="link-dark nagoyameshi-card-link">
									<div class="card h-100">
										<img th:if="${newRestaurant.getImageName()}"
											th:src="@{/storage/__${newRestaurant.getImageName()}__}"
											class="card-img-top nagoyameshi-vertical-card-image" alt="店舗画像">
										<img th:unless="${newRestaurant.getImageName()}" th:src="@{/images/noImage.png}"
											class="card-img-top nagoyameshi-vertical-card-image" alt="NO IMAGE">
										<div class="card-body">
											<h3 class="card-title" th:text="${newRestaurant.getName()}"></h3>
											<p class="card-text mb-1">
												<small class="text-muted"
													th:text="${newRestaurant.getAddress()}"></small>
											</p>
											<p class="card-text">
												<span
													th:text="${#numbers.formatInteger(newRestaurant.getLowestPrice(), 1, 'COMMA') + '円～' + #numbers.formatInteger(newRestaurant.getHighestPrice(), 1, 'COMMA') + '円'}"></span>

											</p>
										</div>
									</div>
								</a>
							</div>
						</div>

						<h2 class="text-center">カテゴリ検索</h2>
						<div class="row justify-content-center mb-4">
							<div class="col-12 col-md-8">
								<th:block th:each="category : ${categories}">
									<a class="btn btn-secondary mb-2"
										th:href="@{/restaurants(category_id=${category.getId()})}" role="button"
										th:text="${category.getName()}"></a>
								</th:block>
							</div>
						</div>
		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>
	</body>

</html>